@*@page
@model AAC.ABPDemo.Web.Views.MyPages.IndexModel
@{
}*@

@using AAC.ABPDemo.Web.Startup
@{
  ViewBag.CurrentPageName = PageNames.MyPages;
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    just Test!
                </h2>
            </div>
            </div>
        </div>
    </div>
